!!!
html(ng-app='bookapp')
  head
    title= title
    //- Livereload (removed in production)
    //- if((process.env.NODE_ENV || 'dev') == 'dev')
     // script(type="text/javascript", src="/javascripts/live.js")
    block meta

    //- Bootstrap
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/list.min.js")

    //- Angular
    // script(src='http://code.angularjs.org/1.1.1/angular.min.js', type='text/javascript')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js', type='text/javascript')

    //- Angular Controllers
    block angular

    //- own style
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- twitter bootstrap styles
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href='//netdna.bootstrapcdn.com/bootswatch/2.2.2/united/bootstrap.min.css', rel='stylesheet')
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css", rel="stylesheet")

    block scripts
    block styles

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37874198-1']);
      _gaq.push(['_setDomainName', "lendabook.org"]);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #fb-root
    block content
    hr
    footer.footer
      ul.nav.nav-pills.pull-right
        li
          a(href="/impressum") Impressum