!!!
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book#")
    != js('client')
    != js('facebook')
    != js('booksServer')
    meta(property="fb:app_id", content="516801898340306")
    meta(property="og:type", content="book")
    meta(property="og:title", content=book.title)
    meta(property="og:url", content="http://www.lendabook.org/books/"+book._id)
    meta(property="og:image", content=book.image)
    meta(property="og:description", content=book.description)
    meta(property="book:author", content="http://www.lendabook.org/books/"+book._id+"/author")
    meta(property="book:isbn", content=book.isbn)
    //meta(property="book:release_date", content="""")
    //meta(property="book:tag", content="")
    meta(property="og:site_name", content="Lend a book")
  body
    ul
      li(id='book-item')
        .span12.clearfix
          .row.book
            .span2
              div.pull-left(class="imageTag", style="width: 200px; text-align: center; margin-bottom: 10px;")
            .span8
              h4
                span(class='title')
                br
                small von 
                  span(class='author')
              h5(style='display: inline;') ISBN: 
                span(class='isbn')
              p(class='description')
              a.like(href="#", style="display: none") Gefällt mir
              a.unlike(href="#", style="display: none") Gefällt mir nicht mehr
            .span2
              .pull-right
                .lenderId(style="display: none;")
                .bookId(style="display: none;")
                img.lenderImage.pull-right
                br
                span.lenderName.pull-right
                br
                a.btn.btn-success.pull-right.borrowbtn(href='#', style="display: none;") Ausleihen
                a.btn.btn-warning.pull-right.deletebtn(href='#', style="display: none;") Entfernen
            .span12
              hr