extends layouts/fbmain

block angular
  != js('client')
  != js('facebook')

block meta
  meta(property="fb:app_id", content="516801898340306")
  meta(property="og:type", content="website")
  meta(property="og:title", content="Lend a book")
  meta(property="og:url", content="http://apps.facebook.com/lend-it")
  meta(property="og:image", content="http://www.lendabook.org/images/logo.png")
  meta(property="og:description", content="Du willst ein Buch lesen, es dir aber nicht kaufen? Leih es dir aus unserer Community aus.")

block content
  .fb-like(style="float: left;", data-href="http://apps.facebook.com/lend-it", data-send="true", data-layout="box_count", data-width="450", data-show-faces="true", data-font="lucida grande")
  .container
    .row(ng-controller="BookCtrl")
      .span12
        h3(style='margin-bottom: 0.6em;') 
          | Hallo {{user.first_name}}. Du willst ein Buch lesen, es dir aber nicht kaufen?
        h4 Leih es dir aus unserer Community aus.
          //small.pull-right over 3000 books available in Karlsruhe
        .row(id='book-list')
          form.span12
            input(class="search", type="text", placeholder="Name, Autor, Beschreibung, ISBN …")
          ul.unstyled.span12(class='list')
          div.hidden
            li(id='book-item')
              .span12.clearfix
                .row.book
                  .span2
                    div.pull-left(class="imageTag", style="width: 200px; text-align: center; margin-bottom: 10px;")
                  .span8
                    h4
                      span(class='title')
                      br
                      small von 
                        span(class='author')
                    h5(style='display: inline;') ISBN: 
                      span(class='isbn')
                    p(class='description')
                    a.like(href="#", style="display: none") Gefällt mir
                    a.unlike(href="#", style="display: none") Gefällt mir nicht mehr
                  .span2
                    .pull-right
                      .lenderId(style="display: none;")
                      .bookId(style="display: none;")
                      img.lenderImage.pull-right
                      br
                      span.lenderName.pull-right
                      br
                      a.btn.btn-success.pull-right.borrowbtn(href='#', style="display: none;") Ausleihen
                      a.btn.btn-warning.pull-right.deletebtn(href='#', style="display: none;") Entfernen
                  .span12
                    hr
        p.lead Deine Bücher sammeln nur Staub? Verleihe sie an die Community.
          br
          a.btn(href="#addBook", role="button", ng-click="addBookModal()") Buch eintragen
        #addBook.modal.hide.fade(role="dialog", aria-hidden="true")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h3 Buch eintragen
          .modal-body.clearfix
            form(style="float: left; width: 50%;", name='addBookForm')
              input(type="text", placeholder="Titel", ng-model="newBook.title", ng-change="OnTitleChange()", required)
              br
              input(type="text", placeholder="ISBN", ng-model="newBook.isbn", required)
              br
              input(type="text", placeholder="Coverbild", ng-model="newBook.image", required)
              br
              input(type="text", placeholder="Autoren", ng-model="newBook.author", required)
              br
              input(type="text", placeholder="Beschreibung", ng-model="newBook.description", required)
              //h5 Who are you?
              //input(type="text", placeholder="E-Mail", ng-model="newBook.lender.email", required)
              //br
              //input(type="text", placeholder="Stadt", ng-model="newBook.location", required)
            div(style="float: right; width: 50%;")
              img(style="overflow: hidden; width: 100px; top: 0px;", width="100", src="{{newBook.image}}")
          .modal-footer
            a(href="#", class="btn btn-primary", ng-click="addBook()", ng-disabled="addBookForm.$invalid", data-dismiss="modal") Buch eintragen

        {{$.errors}}