extends layouts/main

block angular
  != js('todo')
  //- for livereload
  script(type="text/javascript", src="/javascripts/todo.js")

block body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        div(data-toggle="collapse", data-target=".nav-collapse")
          a.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.brand(href="#") Awesome Todos
        .nav-collapse.collapse
          ul.nav
            li.active.stage1.dropdown: a(href="#") Home
            li.stage1.dropdown: a(href="#about") About
            li.stage1.dropdown: a(href="#contact") Contact
  .container
    .row(ng-controller="TodoCtrl")
      h3(style='margin-bottom: 0.6em;') Get stuff done!
        small.pull-right {{numRemaining()}} item(s) left
      form.span12(ng-submit='addTodo()')
        input(type="text", ng-model="todoText", placeholder="What next?")
      ul.unstyled.span12
        li(ng-repeat="todo in getTodos()")
          label.checkbox
            input.hidden(type='checkbox', ng-model="todo.done")
            span.lead(style='color: green;', ng-show='todo.done') ✔
            span.lead(style='color: grey;', ng-show='!todo.done') ✔
            span.lead(class='done-{{todo.done}}') {{todo.text}}
            a.pull-right(style='padding-left:3em;', ng-click='removeTodo(todo)')
              i(class='icon-remove')
        li
          label.checkbox(style='color: gray;')
            span.lead(style='padding-left: 14px;')
              {{todoText}}
      div.span12
        a.pull-right.lead(ng-click='clear()') clear {{numCompleted()}} completed item(s)