extends layouts/main

block angular
  != js('todo')
  //- for livereload
  script(type="text/javascript", src="/javascripts/todo.js")

block body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        div(data-toggle="collapse", data-target=".nav-collapse")
          a.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.brand(href="#") Lend a book
        .nav-collapse.collapse
          ul.nav
            li.active: a(href="/") Ausleihen
            li: a(href="/lend") Verleihen
            li: a(href="#contact") Contact
  .container
    .row(ng-controller="TodoCtrl")
      h3(style='margin-bottom: 0.6em;') 
        | Want to read a book, but can't afford it?
      h4 Lend it for free from our Community
        small.pull-right over 3000 books available in Karlsruhe
      .row(id='book-list')
        form.span12
          input(class="search", type="text", placeholder="name, author, description, ISBN …")
        ul.unstyled.span12(class='list')
        div.hidden
          li(id='book-item')
            .span12.clearfix
              div.pull-left(style="width: 200px; text-align: center; margin-bottom: 10px;")
                img(src="TODO", style="overflow: hidden; width: 100px", width="100")
              h4
                span(class='title')
                br
                small from 
                  span(class='authorsAsString')
              h5(style='display: inline;') ISBN: 
                span(class='isbn')
              p(class='description')
              a.btn.btn-success.pull-right Lend now
      p.lead Missing a book? Want to contribute? 
        a Add yours!

      form.span12
        h5 The book
        input(type="text", placeholder="Title", ng-model="newBook.title")
        input(type="text", placeholder="ISBN", ng-model="newBook.isbn")
        br
        input(type="text", placeholder="Authors", ng-model="newBook.authors")
        br
        input(type="text", placeholder="Description", ng-model="newBook.description")
        h5 Who are you?
        input(type="text", placeholder="E-Mail", ng-model="newBook.lender.email")
        br
        input(type="text", placeholder="City", ng-model="newBook.location")
        br
        button(ng-click="addBook()") Add
