extends layouts/main

block angular
  != js('todo')
  //- for livereload
  script(type="text/javascript", src="/javascripts/todo.js")

block body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        div(data-toggle="collapse", data-target=".nav-collapse")
          a.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.brand(href="#") Lend a book
        .nav-collapse.collapse
          ul.nav
            li.active: a(href="#") Home
            li: a(href="#about") About Us
            li: a(href="#contact") Contact
  .container
    .row(ng-controller="TodoCtrl")
      h3(style='margin-bottom: 0.6em;') 
        | Want to read a book, but can't afford it?
      h4 Lend it for free from our Community
        small.pull-right over 3000 books available in Karlsruhe
      form.span12
        input(type="text", placeholder="name, author, description, ISBN …")
      ul.unstyled.span12
        li(ng-repeat="book in books('','')")
          .span12.clearfix
            div.pull-left(style="width: 200px; text-align: center; margin-bottom: 10px;")
              img(src="{{book.image}}", style="overflow: hidden;", width="100")
            h4 {{book.title}}
             br
             small from {{authorsToString(book.authors)}}
            h5(style='display: inline;') ISBN: 
            | {{book.isbn}}
            p {{book.description}}
        li
          | Missing a book? Want to contribute? Add yours!
      div.span12
        a.pull-right.lead(ng-click='clear()') clear {{numCompleted()}} completed item(s)